@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");

.bg-container {
  background-image: url("https://media.cntraveler.com/photos/6295a64fb093cd6c1800c4ca/16:9/w_2580,c_limit/La%20Me%CC%81nage%CC%81re_%C2%A9%20Mattia%20Aquila%20@mattiaaquila_Salle%20a%20Manger,%20Private%20Dining%20Room.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --clr-shade: #242526;
  --clr-light: #f6f6f6;
  --clr-alert: #ca3641;

  --bg-noise: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);

  --ff-display: "Hoverunit", cursive;
  --ff-sans: "Open Sans", sans-serif;
  --ff-serif: "Special Elite", serif;
}

body {
  background-color: #081f28;
  background-image: var(--bg-noise);
  color: var(--clr-shade);
  line-height: 125%;
  min-height: 100vh;
  /* font-family: var(--ff-sans); */
  font-size: 1.2rem;
  font-family: "Lobster Two", cursive;
  color: #d2ae68;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-display);
  line-height: 120%;
  text-transform: uppercase;
}
h1.pen-title {
  /* unset: all; */
  color: var(--clr-light);
  font-size: 3rem;
  margin: 0 0 1rem 0;
  text-align: center;
  text-shadow: 3px 3px 0 hsl(0, 0%, 0%, 0.25);
}
a {
  color: var(--clr-light);
}
a:hover {
  text-decoration: none;
}
/* BANNER */

.mainbanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(89, 98, 117, 0.8);
  border-radius: 10px;
  padding: 2rem;
  width: 50%;
  text-align: center;
  /* transform: rotateY(360deg);
  transition: 1000ms ease-in-out; */
  /* transition-delay: 2000ms; */
  animation: abc 3s both ease-in-out;
}

@keyframes abc {
  0% {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    width: 0;
  }
  100% {
    /* transform: rotateY(360deg); */
    width: 50%;
  }
}

.mainbanner-logo {
  font-size: 5.5rem;
  line-height: normal;
  font-family: "Sacramento", cursive;
  height: fit-content;
}

.mainbanner-ad {
  font-size: 2rem;
  line-height: normal;
  letter-spacing: 2px;
  font-family: "Lobster Two";
  margin-bottom: 10px;
}

.mainbanner-line {
  position: relative;
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 12px 0;
}

.mainbanner-line > .left {
  left: 0;
}

.mainbanner-line > .right {
  right: 0;
}

.dash {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 2px solid #d2ae68;
  width: 40%;
}

.star {
  width: 10%;
  fill: #d2ae68;
}

.mainbanner-btn {
  background-color: transparent;
  appearance: none;
  border: none;
  font-family: "Lobster Two";
  font-size: 2rem;
  color: inherit;
  border-bottom: 2px solid;
  border-top: 2px solid;
  margin-top: 16px;
  cursor: pointer;
}
/* RESERVATION */

.reserve {
  border: double;
  margin: 2rem;
  padding: 2rem;
}

/* Story */
.about {
  border: 2px solid #d2ae68;
  /* font-family: 'Julee', cursive; */
  margin: 7rem 18rem;
  padding: 1.5rem 7rem 4rem;
  text-align: center;
  outline: 2px solid;
  outline-offset: -14px;
}

.about-title-menu {
  font-size: 3.5rem;
  padding: 0.5rem 0rem 0.3rem;
  line-height: normal;
  font-style: oblique;
  border-bottom: 2px solid;
}

.about-des {
  margin-top: 3rem;
  line-height: 200%;
  font-size: 1.5rem;
  font-family: "Solitreo", cursive;
}

/* Menu and Promo*/
.menu {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin-bottom: 12rem;
}

/* .menu-img {
  width: 65%;
  object-fit: cover;
  border-radius: 5px;
} */

.menu-des {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  text-align: center;
  line-height: 180%;
  align-items: center;
}

.menu-title {
  margin: 0rem 0rem 5rem;
  font-size: 4rem;
  font-style: oblique;
}

.menu-text {
  margin-bottom: 4rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: "Solitreo", cursive;
}

.menu-btn {
  width: fit-content;
  text-align: center;
  background: inherit;
  color: inherit;
  border: none;
  border-bottom: 2px solid;
  border-top: 2px solid;
  font-size: 1.5rem;
  font-family: inherit;
  transition-delay: 3s !important;
}

.ohoho{
  color: #d2ae68;
}

/* MAP */
.map {
  background: url(https://mizumiwestlake.com/wp-content/themes/mizumin-comma/assets/images/map.png)
    center/cover;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.map-info {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #081f28;
  margin: auto;
  padding: 50px;
  border: 1px solid;
  outline: 1px solid;
  outline-offset: -11px;
}

.map-name {
  margin-bottom: 6px;
  font-size: 1.4rem;
}

.map-des {
  font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {  
  .about{
    margin: 7rem 7rem;
  }
}
@media screen and (max-width: 992px) {
.mainbanner-ad{
  font-size: 1.5rem;
}
}

@media screen and (max-width: 768px) {
.mainbanner{
padding: 1rem;
}

.mainbanner-logo{
  font-size: 3.5rem;
}

.mainbanner-ad{
  font-size: 0.8rem
}

.mainbanner-btn{
  font-size: 1rem;
}

.about{
  padding: 1.5rem 1rem 4rem;
}

}

@media screen and (max-width: 768px) {
.about{
  margin: 4rem 4rem;
}

.about-title-menu{
  font-size: 2.5rem;
}

.about-des{
  font-size: 1rem;
}

.menu-des{
  margin: 1rem;
}

.menu-title{
  font-size: 2.5rem;
  margin: 0rem 0rem 2rem;
}

.menu-text{
  margin-bottom: 2rem;
    font-size: 1rem;
}

.menu-btn{
  font-size: 1rem;
}
}

@media screen and (max-width: 570px) {
.menu{
  flex-direction: column;
  justify-self: center;
  align-items: center;
  height: unset;
  margin-bottom: 5rem;
}

.banner{
  width: 70vw !important;
}

.menu-des{
  width: 70%;
  margin-top: 4rem;
}

.second-me{
  flex-direction: column-reverse;
}
}

